/* Global styles ============= */
html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Muli', 'Helvetica', 'Arial', 'sans-serif';
}

a {
  color: #fdcc52;
  transition: all .35s;
}

a:hover, a:focus {
  color: #fcbd20;
}

hr {
  max-width: 100px;
  margin: 25px auto 0;
  border-width: 1px;
  border-color: rgba(34, 34, 34, 0.1);
}

hr.light {
  border-color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
  font-weight: 200;
  letter-spacing: 1px;
}

p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px;
}

section {
  padding: 100px 0;
}

section h2 {
  font-size: 50px;
}

/* Navigation bar */

.navbar {
  position: fixed;
    width: 100%;
    background-color: blue;
    background:transparent;
    background-size: cover;
    z-index: 10;
}

.navbar-brand {
  /*add style font for logo*/
}
  
  .navbar-nav {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: 0 !important;
  }
  
  .nav-item {
    margin: 0px 15px;
  }
  
  /*
.jumbotron-fluid{

}

.jumbotron-title {

}
