/* Global styles ============= */
html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Muli', 'Helvetica', 'Arial', 'sans-serif';
}

a {
  color: white;
  transition: all .35s;
}

a:hover,
a:focus {
  color: #fcbd20;
}

hr {
  max-width: 100px;
  margin: 25px auto 0;
  border-width: 1px;
  border-color: rgba(34, 34, 34, 0.1);
}

hr.light {
  border-color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
  font-weight: 200;
  letter-spacing: 1px;
}

p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px;
}

section {
  padding: 100px 0;
}

section h2 {
  font-size: 50px;
}

.container {
  width: 100%;
  padding-right: 20px;
  padding-left: 20px;

}

/*Navbar styling*/
.navbar {
  position: absolute;
  left: 8.85%;
  right: 10.89%;
  top: 1.5%;
  bottom: 97.8%;
  font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
  z-index: 10;
  background: transparent;
}

#navbar .navbar-brand {
  color: #fdcc52;
  font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
  font-weight: 200;
  font-size: x-large;
  
  /* -webkit-text-stroke: 0.8px black;  */
}

#navbarNav {
  justify-content: flex-end;
}

.nav-item {
  font-size: large;
  color: white;
}


/*Hero*/
.masthead {
  position: relative;
  width: 100%;
  height: 1080px;
  top: -60px;
  padding-top: 150px;
  padding-bottom: 100px;
  color: white;
  background: url("../images/bg-img.svg");
  background-size: cover;
}

.jumbotron {
  background-color: transparent;
}

.header-title {
  text-align: center;
  align-items: center;
}

.btn{
    box-shadow:0 2px 2px 0 rgba(0,0,0, 0.1)!important ;
  color: white;
  border: 1px solid white;
  
}

header.masthead .device-container {
  margin: auto;
}

.deviceMockupImg {
  max-width: 100%;
  padding: 30px;
}

/* download section*/
.download {
  position: relative;
  background-color: #fdcc52;
  text-align: center;
}

.download img {
  width: 150px;
}

